<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/PngImages/logo.ico" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css">



    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleviewport.css">

    <title>Nexgen Digimedia</title>
</head>

<body>

    <div id="fullpage">

        <div class="section">
            <div class="black">
                <div class="black-top">
                    <div class="logo">
                        <svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path
                                    d="M16.2674 25.4114C15.7392 25.4118 15.2186 25.2832 14.75 25.0363C14.2813 24.7894 13.8783 24.4316 13.5752 23.9932L0.596392 5.24374C0.348543 4.88545 0.172756 4.48119 0.0790682 4.05405C-0.0146199 3.62691 -0.0243746 3.18525 0.0503613 2.75429C0.125097 2.32333 0.28286 1.9115 0.514642 1.54233C0.746424 1.17316 1.04769 0.853868 1.40123 0.602688C1.75477 0.351508 2.15367 0.173359 2.57514 0.0784119C2.99662 -0.0165352 3.43242 -0.026421 3.85767 0.0493192C4.28292 0.125059 4.68928 0.284942 5.05356 0.519839C5.41784 0.754736 5.73289 1.06005 5.98074 1.41834L18.9552 20.1672C19.3005 20.6661 19.5041 21.2514 19.544 21.8594C19.5839 22.4675 19.4584 23.0749 19.1812 23.6157C18.904 24.1565 18.4858 24.6098 17.972 24.9265C17.4583 25.2431 16.8687 25.4108 16.2674 25.4114Z"
                                    fill="#B50CD1" />
                                <path
                                    d="M23.4632 25.4118C22.5914 25.4118 21.7554 25.0608 21.139 24.4361C20.5225 23.8114 20.1762 22.9641 20.1762 22.0806C20.1762 21.1972 20.5225 20.3499 21.139 19.7252C21.7554 19.1005 22.5914 18.7495 23.4632 18.7495C25.0341 18.7332 26.5353 18.0893 27.6405 16.9577C28.7456 15.8262 29.3656 14.2983 29.3656 12.7062C29.3656 11.1141 28.7456 9.58623 27.6405 8.45466C26.5353 7.3231 25.0341 6.67921 23.4632 6.66289H12.2087C11.3368 6.66289 10.5007 6.3119 9.88421 5.68714C9.26772 5.06237 8.92139 4.215 8.92139 3.33145C8.92139 2.44789 9.26772 1.60053 9.88421 0.975758C10.5007 0.350991 11.3368 0 12.2087 0L23.4632 0C30.3758 0 36 5.70036 36 12.7059C36 19.7114 30.3758 25.4118 23.4632 25.4118Z"
                                    fill="#CE48E4" />
                                <g opacity="0.78">
                                    <path opacity="0.78"
                                        d="M3.28696 25.4121C2.41525 25.4119 1.5793 25.0609 0.962911 24.4363C0.346523 23.8116 0.000165991 22.9644 0 22.081L0 3.33211C0 2.44864 0.346303 1.60135 0.962727 0.976642C1.57915 0.351934 2.4152 0.000976563 3.28696 0.000976562C4.15871 0.000976563 4.99476 0.351934 5.61119 0.976642C6.22761 1.60135 6.57391 2.44864 6.57391 3.33211V22.081C6.57391 22.9644 6.22761 23.8117 5.61119 24.4364C4.99476 25.0611 4.15871 25.4121 3.28696 25.4121Z"
                                        fill="#CE48E4" />
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="36" height="25.4118" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <a href="#" class="logo-name">
                        Nexgen
                    </a>


                </div>

                <div class="black-body">
                    <p class="black-body-top">
                        The Next-Gen Digital Media Agency
                    </p>
                    <div class="black-body-center">
                        <p>Media,</p>
                        <p>Marketing <span class="and">&</span></p>
                        <p>Managerial.</p>
                    </div>
                    <div class="black-body-bottom">
                        Innovating the way your business communicates.
                    </div>
                    <a href="#contact" class="black-body-button">Connect with us</a>
                </div>

            </div>
        </div>


        <div class="section">
            <div class="purple">
                <div class="purple-top">
                    We are a
                </div>
                <div class="purple-center">
                    <p>Next Generation</p>
                    <p>Digital Media Agency.</p>
                </div>
                <div class="purple-top">
                    Understanding your business culture.
                </div>

            </div>
        </div>


        <div class="section">
            <div class="greencyan screen-common">
                <div class="screen-common-inner">
                    <div class="screen-common-img">
                        <img src="/PngImages/creative.png" alt="Creative">
                    </div>
                    <div class="screen-common-top">
                        Creative
                    </div>
                    <div class="screen-common-bottom">
                        Our team of creative individuals offers a full range of creative services including, web design,
                        graphic
                        design, poster, logos, etc.
                    </div>
                </div>

            </div>
        </div>


        <div class="section">
            <div class="orange screen-common">
                <div class="screen-common-inner">
                    <div class="screen-common-img">
                        <img src="/PngImages/media.png" alt="Media">

                    </div>
                    <div class="screen-common-top">
                        Media
                    </div>
                    <div class="screen-common-bottom">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s.
                    </div>
                </div>

            </div>
        </div>


        <div class="section">
            <div class="screen-common red">
                <div class="screen-common-inner">
                    <div class="screen-common-img">

                        <img src="/PngImages/strategy.png" alt="Stratgy">

                    </div>
                    <div class="screen-common-top">
                        Stratgy
                    </div>
                    <div class="screen-common-bottom">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s.
                    </div>
                </div>

            </div>
        </div>


        <div class="section">
            <div class="screen-common blue">
                <div class="screen-common-inner">
                    <div class="screen-common-img">
                        <img src="/PngImages/analytics.png" alt="Analytics">

                    </div>
                    <div class="screen-common-top">
                        Analytics
                    </div>
                    <div class="screen-common-bottom">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s.
                    </div>
                </div>

            </div>
        </div>


        <div class="section">
            <div class="grey" id="contact">

                <div class="contact-form">
                    <h2>Contact Us</h2>
                    <form action="/" method="POST">
                        <div class="contact-form-input">
                            <input type="text" name="name" id="" placeholder="Name" required autocomplete="off">
                            <input type="email" name="email" id="" placeholder="Emai id" required autocomplete="off">
                            <input type="number" name="phoneNumber" id="" placeholder="Phone No." required
                                autocomplete="off">
                            <textarea type="text" name="message" id="" placeholder="Message" required
                                autocomplete="off"></textarea>
                            <button type="submit" class="black-body-button">Connect</button>

                        </div>
                    </form>
                </div>
                <div class="footer">
                    Copyright &#169; All rights reserved.
                </div>


            </div>


        </div>



    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>

    <script>
        new fullpage('#fullpage', {
            //options here
            autoScrolling: true,
            // scrollHorizontally: true
            scrollingSpeed: 650,
        });

        //methods
        // fullpage_api.setAllowScrolling(false);
    </script>


</body>

</html>